/* Grid Layout .. Mobile First */
.container {
  display: grid;
  grid-auto-rows: auto;
  width: 85vw;
  margin: 3rem auto;
}

/* Global Styling */

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: hsl(204, 43%, 93%);
}

h1 {
  color: hsl(179, 62%, 43%);
}

h4 {
  color: hsl(71, 73%, 54%);
  font-weight: 400;
}

.grey {
  color: hsl(204, 43%, 93%);
}

.small-txt {
  font-size: 14px;
  }

/* Main Body Styling */

.join, .subscription, .why {
  box-sizing: border-box;
  padding: 0.8rem 1.5rem 1.5rem 1.5rem;
}

.join p {
  color: hsl(218, 22%, 67%);
  line-height: 1.6;
}

.join {
  background-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.subscription {
  background-color: hsl(179, 62%, 43%);
  color: white;
}

.subscription p {
  margin-top: 0;
  color: hsl(204, 43%, 93%);
}

.price {
  font-size: 32px;
}

button {
  height: 50px;
  width: 260px;
  border: none;
  border-radius: 5px;
  background-color: hsl(71, 73%, 54%);
  color: white;
  margin-top: 1rem;
}

.why {
  background-color: hsl(179, 46%, 53%);
  color: white;
  border-radius: 0 0 7px 7px;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Footer Attributes */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop Media Queries */
@media screen and (min-width: 960px) {

  body {
    margin-top: 7rem;
  }

  .container {
    grid-template-rows: 185px 230px;
    grid-template-columns: repeat(2, 1fr);
    width: 45%;
    box-shadow: ;
  }

  .join {
    grid-column: 1/ span 2;
    border-radius: 7px 7px 0 0;
    padding: 1rem 2rem;
  }

  .join h4 {
    margin-bottom: 0;
  }

  button {
    width: 220px;
    height: 2.5rem;
  }

  .subscription {
    grid-column: 1/ span 1;
    border-bottom-left-radius: 7px;
    padding: 1.5rem;
  }

  .why {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 0;
    grid-column: 2/ span 1;
    padding: 1.5rem;
    font-size: 14px;
  }

  .why p {
    font-size: 10px;
    color: hsl(204, 43%, 93%);
  }

}
